/****** Object:  Database [s255p01db-df-shared]    Script Date: 23/05/2024 13:32:01 ******/
CREATE DATABASE [s255p01db-df-shared]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 10 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  DatabaseScopedCredential [https://s255p01strdfaudit.blob.core.windows.net/sqldbauditlogs]    Script Date: 23/05/2024 13:32:01 ******/
CREATE DATABASE SCOPED CREDENTIAL [https://s255p01strdfaudit.blob.core.windows.net/sqldbauditlogs] WITH IDENTITY = N'SHARED ACCESS SIGNATURE'
GO
/****** Object:  User [s255p02as-df-runner]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [s255p02as-df-runner] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s255p01as-df-runner]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [s255p01as-df-runner] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s255p01as-df-external]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [s255p01as-df-external] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s255p01as-df-designer]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [s255p01as-df-designer] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AzureAAD-FundingAndAllocations-s255-Reader]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [AzureAAD-FundingAndAllocations-s255-Reader] FROM  EXTERNAL PROVIDER 
GO
/****** Object:  User [AzureAAD-FundingAndAllocations-s255-Contributor]    Script Date: 23/05/2024 13:32:01 ******/
CREATE USER [AzureAAD-FundingAndAllocations-s255-Contributor] FROM  EXTERNAL PROVIDER 
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N's255p02as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N's255p02as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N's255p02as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N's255p01as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N's255p01as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N's255p01as-df-runner'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N's255p01as-df-external'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N's255p01as-df-external'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N's255p01as-df-external'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N's255p01as-df-designer'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N's255p01as-df-designer'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N's255p01as-df-designer'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'AzureAAD-FundingAndAllocations-s255-Reader'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'AzureAAD-FundingAndAllocations-s255-Contributor'
GO
/****** Object:  Table [dbo].[AdminCodeProvidersData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminCodeProvidersData](
	[ACPDID] [bigint] IDENTITY(1,1) NOT NULL,
	[PMID] [bigint] NULL,
	[AdminCode] [nvarchar](100) NULL,
 CONSTRAINT [PK__AdminCod__2BEC24C4B1268DE9] PRIMARY KEY CLUSTERED 
(
	[ACPDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalculationAdditionalSettings]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculationAdditionalSettings](
	[CALASID] [bigint] IDENTITY(1,1) NOT NULL,
	[CALCID] [bigint] NOT NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](1000) NULL,
	[PropType] [nvarchar](250) NULL,
	[RowNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CALASID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalculationComponentDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculationComponentDetails](
	[CALCOID] [bigint] IDENTITY(1,1) NOT NULL,
	[CALCID] [bigint] NOT NULL,
	[CMPID] [bigint] NOT NULL,
 CONSTRAINT [PK__Calculat__10DEE2B51D1F4E39] PRIMARY KEY CLUSTERED 
(
	[CALCOID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calculations]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calculations](
	[CALCID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[DisplayName] [nvarchar](250) NULL,
	[Hint] [nvarchar](250) NULL,
	[PageLocation] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[HideResult] [bit] NULL,
	[Title] [nvarchar](250) NULL,
	[Expressions] [nvarchar](250) NULL,
 CONSTRAINT [PK__Calculat__10DEE2B57224A081] PRIMARY KEY CLUSTERED 
(
	[CALCID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentAdditionalSettings]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentAdditionalSettings](
	[CADSTID] [bigint] IDENTITY(1,1) NOT NULL,
	[CMPID] [bigint] NOT NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](1000) NULL,
	[PropType] [nvarchar](250) NULL,
 CONSTRAINT [PK__Addition__B0CF7AF245624530] PRIMARY KEY CLUSTERED 
(
	[CADSTID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentDatasetSchemaDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentDatasetSchemaDetails](
	[CDSDID] [bigint] IDENTITY(1,1) NOT NULL,
	[CMPID] [bigint] NOT NULL,
	[ColumnId] [nvarchar](250) NULL,
	[ColumnType] [nvarchar](250) NULL,
	[SelectedColumnHeaderType] [nvarchar](250) NULL,
	[SelectedColumnHeaderValue] [nvarchar](1000) NULL,
	[IsEdited] [bit] NULL,
	[columnSchema] [bit] NULL,
	[ColumnOrder] [int] NULL,
 CONSTRAINT [PK__DatasetS__29D3C178E258C48D] PRIMARY KEY CLUSTERED 
(
	[CDSDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentDatasetSchemaPropertyDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentDatasetSchemaPropertyDetails](
	[CDSPDID] [bigint] IDENTITY(1,1) NOT NULL,
	[CDSDID] [bigint] NOT NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](1000) NULL,
	[PropType] [nvarchar](250) NULL,
 CONSTRAINT [PK__ChildDat__D2366237F598F057] PRIMARY KEY CLUSTERED 
(
	[CDSPDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[CMPID] [bigint] IDENTITY(1,1) NOT NULL,
	[PGID] [bigint] NOT NULL,
	[Type] [nvarchar](250) NULL,
	[IsEditingTabs] [bit] NULL,
	[Title] [nvarchar](500) NULL,
	[Hint] [nvarchar](4000) NULL,
	[Name] [nvarchar](500) NULL,
	[Status] [bit] NULL,
	[NameHasError] [bit] NULL,
	[ComponentEdited] [bit] NULL,
	[AdditionalSettings] [bit] NULL,
	[Content] [nvarchar](max) NULL,
	[Checked] [bit] NULL,
	[DDSID] [bigint] NULL,
	[LSTID] [bigint] NULL,
	[DOCID] [bigint] NULL,
	[CmpOrder] [int] NULL,
 CONSTRAINT [PK__Componen__0461AC5AEAAB918D] PRIMARY KEY CLUSTERED 
(
	[CMPID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConditionDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConditionDetails](
	[CNDTLID] [bigint] IDENTITY(1,1) NOT NULL,
	[CNID] [bigint] NOT NULL,
	[SubsetNo] [bigint] NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](1000) NULL,
	[PropType] [nvarchar](250) NULL,
 CONSTRAINT [PK__Conditio__EC723B4810BF6ACF] PRIMARY KEY CLUSTERED 
(
	[CNDTLID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conditions]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conditions](
	[CNID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[DisplayName] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK__Conditio__AA570FD4357D8D12] PRIMARY KEY CLUSTERED 
(
	[CNID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetDataDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetDataDetails](
	[DDID] [bigint] IDENTITY(1,1) NOT NULL,
	[CDSDID] [bigint] NOT NULL,
	[ColumnData] [nvarchar](1000) NULL,
	[UpdatedOn] [datetime] NULL,
	[Rowno] [int] NULL,
 CONSTRAINT [PK__DatasetD__2612A72A327AC34B] PRIMARY KEY CLUSTERED 
(
	[DDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignDataSet]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignDataSet](
	[DDSID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[DOCID] [bigint] NULL,
	[DDSetID] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[KeyIdentifier] [nvarchar](250) NULL,
	[UploadedOn] [datetime] NULL,
	[csvUsed] [nvarchar](250) NULL,
 CONSTRAINT [PK__DesignDa__469DEB1D593C79EB] PRIMARY KEY CLUSTERED 
(
	[DDSID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignDataSetDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignDataSetDetails](
	[DDSDTLID] [bigint] IDENTITY(1,1) NOT NULL,
	[DDSID] [bigint] NOT NULL,
	[index] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Value] [nvarchar](1000) NULL,
	[Bold] [bit] NULL,
	[Rowno] [int] NULL,
	[MarkForCalculation] [bit] NULL,
	[Checked] [bit] NULL,
 CONSTRAINT [PK__DesignDa__B017E4D03805AFCB] PRIMARY KEY CLUSTERED 
(
	[DDSDTLID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DOCID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[FileTitle] [nvarchar](250) NULL,
	[FileName] [nvarchar](250) NULL,
	[FilePath] [nvarchar](250) NULL,
	[FileType] [nvarchar](100) NULL,
	[FileId] [nvarchar](100) NULL,
	[UploadedOn] [datetime] NULL,
 CONSTRAINT [PK__Document__CEBF0D81C58A7707] PRIMARY KEY CLUSTERED 
(
	[DOCID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FEID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NULL,
	[Desciption] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[FEID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FID] [bigint] IDENTITY(1,1) NOT NULL,
	[FormId] [nvarchar](100) NULL,
	[Displayname] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[FSID] [bigint] NOT NULL,
	[Version] [int] NULL,
	[SkipSummary] [bit] NULL,
	[SignInRequired] [bit] NULL,
	[CreatedByUserId] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedByUserId] [bigint] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[Status] [bit] NULL,
	[File] [nvarchar](250) NULL,
	[StartPage] [nvarchar](250) NULL,
	[ConfirmationMsg] [nvarchar](max) NULL,
	[Declaration] [nvarchar](max) NULL,
	[LastDownloaded] [datetime] NULL,
	[PhaseBanner] [nvarchar](250) NULL,
	[FeedbackForm] [bit] NULL,
	[Url] [nvarchar](250) NULL,
	[CustomSummaryMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK__Forms__C1BEA5A20F208FB0] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formsjson]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formsjson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormStatus]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormStatus](
	[FSID] [bigint] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](250) NULL,
 CONSTRAINT [PK__FormStat__9C4B073666EFF090] PRIMARY KEY CLUSTERED 
(
	[FSID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List](
	[LSTID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[LSTTitle] [nvarchar](250) NULL,
	[LSTName] [nvarchar](250) NULL,
	[LSTType] [nvarchar](250) NULL,
	[LSTDataset] [nvarchar](100) NULL,
 CONSTRAINT [PK__List__14F65955D8769B9E] PRIMARY KEY CLUSTERED 
(
	[LSTID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListItems]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListItems](
	[LSTIItemD] [bigint] IDENTITY(1,1) NOT NULL,
	[LSTID] [bigint] NOT NULL,
	[LSTItemsText] [nvarchar](500) NULL,
	[LSTItemValue] [nvarchar](500) NULL,
	[LSTItemCondition] [nvarchar](250) NULL,
	[LSTItemDesc] [nvarchar](2000) NULL,
	[LSTItemLinks] [nvarchar](max) NULL,
	[LSTOrder] [int] NULL,
 CONSTRAINT [PK__ListItem__D4FBA39357D952DF] PRIMARY KEY CLUSTERED 
(
	[LSTIItemD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetaData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaData](
	[MTDTID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](250) NULL,
	[PropType] [nvarchar](250) NULL,
 CONSTRAINT [PK__MetaData__2A8F51D2A488B2FE] PRIMARY KEY CLUSTERED 
(
	[MTDTID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganisationDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganisationDetails](
	[ORGID] [bigint] IDENTITY(1,1) NOT NULL,
	[UKPRN] [nvarchar](50) NULL,
	[URN] [bigint] NULL,
	[AdminCode] [nvarchar](50) NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK__Organisa__1EDD7BD661B3D408] PRIMARY KEY CLUSTERED 
(
	[ORGID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutputDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutputDetails](
	[OUDTLID] [bigint] IDENTITY(1,1) NOT NULL,
	[OUID] [bigint] NOT NULL,
	[PropName] [nvarchar](250) NULL,
	[PropValue] [nvarchar](1000) NULL,
	[PropType] [nvarchar](250) NULL,
 CONSTRAINT [PK__OutputDe__E048271F9E4E9C1F] PRIMARY KEY CLUSTERED 
(
	[OUDTLID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outputs]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outputs](
	[OUID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[Type] [nvarchar](100) NULL,
 CONSTRAINT [PK__Outputs__A86120A2FCCC4557] PRIMARY KEY CLUSTERED 
(
	[OUID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageChildSettings]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageChildSettings](
	[PGCHSTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PGID] [bigint] NOT NULL,
	[Path] [nvarchar](500) NULL,
	[Condition] [nvarchar](250) NULL,
 CONSTRAINT [PK__PageChil__CE6700FB7CA6FB8A] PRIMARY KEY CLUSTERED 
(
	[PGCHSTID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PGID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Path] [nvarchar](500) NULL,
	[Controller] [nvarchar](250) NULL,
	[Next] [nvarchar](500) NULL,
	[Section] [nvarchar](100) NULL,
 CONSTRAINT [PK__Pages__5902017CD61BCE90] PRIMARY KEY CLUSTERED 
(
	[PGID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderMapping]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderMapping](
	[PMID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [nvarchar](100) NOT NULL,
	[Desciption] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Provider__5C86FF66F18826B7] PRIMARY KEY CLUSTERED 
(
	[PMID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[providersmappingjson]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[providersmappingjson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponseQuestionData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseQuestionData](
	[RspQstDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[RspQstId] [bigint] NOT NULL,
	[Key] [nvarchar](250) NULL,
	[Title] [nvarchar](max) NULL,
	[Type] [nvarchar](250) NULL,
	[Answer] [nvarchar](max) NULL,
 CONSTRAINT [PK__Response__04481870D66DC8B6] PRIMARY KEY CLUSTERED 
(
	[RspQstDataId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponseQuestions]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseQuestions](
	[RspQstId] [bigint] IDENTITY(1,1) NOT NULL,
	[RspId] [bigint] NOT NULL,
	[Question] [nvarchar](max) NULL,
 CONSTRAINT [PK__Response__AA2B53B8570CFD88] PRIMARY KEY CLUSTERED 
(
	[RspQstId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[RSPID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[ResponseStatus] [bit] NULL,
	[Id] [nvarchar](100) NOT NULL,
	[FormName] [nvarchar](2000) NULL,
	[UserId] [bigint] NULL,
	[MtdtId] [bigint] NOT NULL,
	[isUAT] [bit] NOT NULL,
	[UserOrgID] [bigint] NULL,
 CONSTRAINT [PK__Response__9956C373C570B41F] PRIMARY KEY CLUSTERED 
(
	[RSPID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Responses_Uniq_id] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsesjson]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsesjson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SCID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[SCName] [nvarchar](250) NULL,
	[SCTitle] [nvarchar](250) NULL,
 CONSTRAINT [PK__Sections__F7FE93AC54A8462A] PRIMARY KEY CLUSTERED 
(
	[SCID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabChildDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabChildDetails](
	[TABCID] [bigint] IDENTITY(1,1) NOT NULL,
	[CADSTID] [bigint] NULL,
	[TABID] [bigint] NOT NULL,
	[tabLabel] [nvarchar](250) NULL,
	[tabHeader] [nvarchar](250) NULL,
	[type] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK__ChildTab__372B2E0B61B182AE] PRIMARY KEY CLUSTERED 
(
	[TABCID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabDetails](
	[TABID] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[TabName] [nvarchar](250) NULL,
 CONSTRAINT [PK_TabDetails_TABID] PRIMARY KEY CLUSTERED 
(
	[TABID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ids]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ids](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Tbl_name] [nvarchar](500) NULL,
	[Tbl_nxt_identity] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UKPRNProvidersData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UKPRNProvidersData](
	[UKPDID] [bigint] IDENTITY(1,1) NOT NULL,
	[PMID] [bigint] NULL,
	[UKPRN] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UKPDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URNProvidersData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URNProvidersData](
	[URPDID] [bigint] IDENTITY(1,1) NOT NULL,
	[PMID] [bigint] NULL,
	[URN] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[URPDID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__UserDeta__C5B19602BC93CE44] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOrganisationDetails]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOrganisationDetails](
	[UserOrgID] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [bigint] NULL,
	[ORGID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserOrgID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [index_AdmncdPrvdta_pmid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_AdmncdPrvdta_pmid] ON [dbo].[AdminCodeProvidersData]
(
	[PMID] ASC
)
INCLUDE([AdminCode]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calccomps_calcid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_calccomps_calcid] ON [dbo].[CalculationComponentDetails]
(
	[CALCID] ASC
)
INCLUDE([CALCOID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calccomps_cmpid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_calccomps_cmpid] ON [dbo].[CalculationComponentDetails]
(
	[CMPID] ASC
)
INCLUDE([CALCOID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calcs_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_calcs_fid] ON [dbo].[Calculations]
(
	[FID] ASC
)
INCLUDE([CALCID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_compadst_cmpid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_compadst_cmpid] ON [dbo].[ComponentAdditionalSettings]
(
	[CMPID] ASC
)
INCLUDE([CADSTID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_cmpdatschdtl_cmpid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_cmpdatschdtl_cmpid] ON [dbo].[ComponentDatasetSchemaDetails]
(
	[CMPID] ASC
)
INCLUDE([CDSDID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_cmpdatschpropdtl_cdsdid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_cmpdatschpropdtl_cdsdid] ON [dbo].[ComponentDatasetSchemaPropertyDetails]
(
	[CDSDID] ASC
)
INCLUDE([CDSPDID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_comp_ddsid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_comp_ddsid] ON [dbo].[Components]
(
	[DDSID] ASC
)
INCLUDE([CMPID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_comp_docid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_comp_docid] ON [dbo].[Components]
(
	[DOCID] ASC
)
INCLUDE([CMPID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_comp_lstid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_comp_lstid] ON [dbo].[Components]
(
	[LSTID] ASC
)
INCLUDE([CMPID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_comp_pgid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_comp_pgid] ON [dbo].[Components]
(
	[PGID] ASC
)
INCLUDE([CMPID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_cndndtl_cnid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_cndndtl_cnid] ON [dbo].[ConditionDetails]
(
	[CNID] ASC
)
INCLUDE([CNDTLID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_cndn_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_cndn_fid] ON [dbo].[Conditions]
(
	[FID] ASC
)
INCLUDE([CNID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_datsetdtl_cdsdid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_datsetdtl_cdsdid] ON [dbo].[DatasetDataDetails]
(
	[CDSDID] ASC
)
INCLUDE([DDID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_designdatast_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_designdatast_fid] ON [dbo].[DesignDataSet]
(
	[FID] ASC
)
INCLUDE([DDSID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_designdatastdtl_ddsid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_designdatastdtl_ddsid] ON [dbo].[DesignDataSetDetails]
(
	[DDSID] ASC
)
INCLUDE([DDSDTLID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docs_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_docs_fid] ON [dbo].[Documents]
(
	[FID] ASC
)
INCLUDE([DOCID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_fees_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_fees_fid] ON [dbo].[Fees]
(
	[FID] ASC
)
INCLUDE([FEID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [index_forms_formid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_forms_formid] ON [dbo].[Forms]
(
	[FormId] ASC
)
INCLUDE([FID],[FSID],[CreatedByUserId],[LastUpdatedByUserId]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_list_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_list_fid] ON [dbo].[List]
(
	[FID] ASC
)
INCLUDE([LSTID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_listitem_lstid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_listitem_lstid] ON [dbo].[ListItems]
(
	[LSTID] ASC
)
INCLUDE([LSTIItemD]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_metadat_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_metadat_fid] ON [dbo].[MetaData]
(
	[FID] ASC
)
INCLUDE([MTDTID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_outputdtl_ouid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_outputdtl_ouid] ON [dbo].[OutputDetails]
(
	[OUID] ASC
)
INCLUDE([OUDTLID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_outputs_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_outputs_fid] ON [dbo].[Outputs]
(
	[FID] ASC
)
INCLUDE([OUID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_pagech_pgid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_pagech_pgid] ON [dbo].[PageChildSettings]
(
	[PGID] ASC
)
INCLUDE([PGCHSTID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_pages_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_pages_fid] ON [dbo].[Pages]
(
	[FID] ASC
)
INCLUDE([PGID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResponseQuestionData]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [IX_ResponseQuestionData] ON [dbo].[ResponseQuestionData]
(
	[RspQstId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResponseQuestions]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [IX_ResponseQuestions] ON [dbo].[ResponseQuestions]
(
	[RspId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Responses]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [IX_Responses] ON [dbo].[Responses]
(
	[FID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Responses_1]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [IX_Responses_1] ON [dbo].[Responses]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Responses_2]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [IX_Responses_2] ON [dbo].[Responses]
(
	[MtdtId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_sec_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_sec_fid] ON [dbo].[Sections]
(
	[FID] ASC
)
INCLUDE([SCID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_tabchdtl_tabid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_tabchdtl_tabid] ON [dbo].[TabChildDetails]
(
	[TABID] ASC
)
INCLUDE([TABCID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_tabs_fid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_tabs_fid] ON [dbo].[TabDetails]
(
	[FID] ASC
)
INCLUDE([TABID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_UkprnPrvdta_pmid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_UkprnPrvdta_pmid] ON [dbo].[UKPRNProvidersData]
(
	[PMID] ASC
)
INCLUDE([UKPRN]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_UrnPrvdta_pmid]    Script Date: 23/05/2024 13:32:01 ******/
CREATE NONCLUSTERED INDEX [index_UrnPrvdta_pmid] ON [dbo].[URNProvidersData]
(
	[PMID] ASC
)
INCLUDE([URN]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calculations] ADD  CONSTRAINT [DF_Calculations_HideResult]  DEFAULT ((0)) FOR [HideResult]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF_Components_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF_Components_AdditionalSettings]  DEFAULT ((0)) FOR [AdditionalSettings]
GO
ALTER TABLE [dbo].[DesignDataSetDetails] ADD  DEFAULT ((0)) FOR [MarkForCalculation]
GO
ALTER TABLE [dbo].[DesignDataSetDetails] ADD  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [dbo].[ProviderMapping] ADD  CONSTRAINT [DF_ProviderMapping_UpdatedOn]  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[ProviderMapping] ADD  CONSTRAINT [DF_ProviderMapping_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Responses] ADD  CONSTRAINT [DF_Responses_UpdatedOn]  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[Responses] ADD  DEFAULT ((1)) FOR [isUAT]
GO
ALTER TABLE [dbo].[AdminCodeProvidersData]  WITH CHECK ADD  CONSTRAINT [FK__AdminCodeP__PMID__2BB470E3] FOREIGN KEY([PMID])
REFERENCES [dbo].[ProviderMapping] ([PMID])
GO
ALTER TABLE [dbo].[AdminCodeProvidersData] CHECK CONSTRAINT [FK__AdminCodeP__PMID__2BB470E3]
GO
ALTER TABLE [dbo].[CalculationAdditionalSettings]  WITH NOCHECK ADD  CONSTRAINT [FK_CalculationAdditionalSettings.CALCID] FOREIGN KEY([CALCID])
REFERENCES [dbo].[Calculations] ([CALCID])
GO
ALTER TABLE [dbo].[CalculationAdditionalSettings] CHECK CONSTRAINT [FK_CalculationAdditionalSettings.CALCID]
GO
ALTER TABLE [dbo].[CalculationComponentDetails]  WITH CHECK ADD  CONSTRAINT [FK_CalculationChildDetails_CALCID] FOREIGN KEY([CALCID])
REFERENCES [dbo].[Calculations] ([CALCID])
GO
ALTER TABLE [dbo].[CalculationComponentDetails] CHECK CONSTRAINT [FK_CalculationChildDetails_CALCID]
GO
ALTER TABLE [dbo].[CalculationComponentDetails]  WITH CHECK ADD  CONSTRAINT [FK_CalculationChildDetails_CMPID] FOREIGN KEY([CMPID])
REFERENCES [dbo].[Components] ([CMPID])
GO
ALTER TABLE [dbo].[CalculationComponentDetails] CHECK CONSTRAINT [FK_CalculationChildDetails_CMPID]
GO
ALTER TABLE [dbo].[Calculations]  WITH CHECK ADD  CONSTRAINT [FK_Calculations.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Calculations] CHECK CONSTRAINT [FK_Calculations.FID]
GO
ALTER TABLE [dbo].[ComponentAdditionalSettings]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalSettings.CMPID] FOREIGN KEY([CMPID])
REFERENCES [dbo].[Components] ([CMPID])
GO
ALTER TABLE [dbo].[ComponentAdditionalSettings] CHECK CONSTRAINT [FK_AdditionalSettings.CMPID]
GO
ALTER TABLE [dbo].[ComponentDatasetSchemaDetails]  WITH CHECK ADD  CONSTRAINT [FK_DatasetSchemaDetails.CMPID] FOREIGN KEY([CMPID])
REFERENCES [dbo].[Components] ([CMPID])
GO
ALTER TABLE [dbo].[ComponentDatasetSchemaDetails] CHECK CONSTRAINT [FK_DatasetSchemaDetails.CMPID]
GO
ALTER TABLE [dbo].[ComponentDatasetSchemaPropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_ChildDatasetSchemaDetails.DSID] FOREIGN KEY([CDSDID])
REFERENCES [dbo].[ComponentDatasetSchemaDetails] ([CDSDID])
GO
ALTER TABLE [dbo].[ComponentDatasetSchemaPropertyDetails] CHECK CONSTRAINT [FK_ChildDatasetSchemaDetails.DSID]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Component.DDSID] FOREIGN KEY([DDSID])
REFERENCES [dbo].[DesignDataSet] ([DDSID])
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Component.DDSID]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Component.LSTID] FOREIGN KEY([LSTID])
REFERENCES [dbo].[List] ([LSTID])
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Component.LSTID]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Component.PGID] FOREIGN KEY([PGID])
REFERENCES [dbo].[Pages] ([PGID])
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Component.PGID]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_DOCID] FOREIGN KEY([DOCID])
REFERENCES [dbo].[Documents] ([DOCID])
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Components_DOCID]
GO
ALTER TABLE [dbo].[ConditionDetails]  WITH CHECK ADD  CONSTRAINT [FK_ConditionDetails.CNID] FOREIGN KEY([CNID])
REFERENCES [dbo].[Conditions] ([CNID])
GO
ALTER TABLE [dbo].[ConditionDetails] CHECK CONSTRAINT [FK_ConditionDetails.CNID]
GO
ALTER TABLE [dbo].[Conditions]  WITH CHECK ADD  CONSTRAINT [FK_Condition.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Conditions] CHECK CONSTRAINT [FK_Condition.FID]
GO
ALTER TABLE [dbo].[DatasetDataDetails]  WITH CHECK ADD  CONSTRAINT [FK_DatasetDataDetails.DSID] FOREIGN KEY([CDSDID])
REFERENCES [dbo].[ComponentDatasetSchemaDetails] ([CDSDID])
GO
ALTER TABLE [dbo].[DatasetDataDetails] CHECK CONSTRAINT [FK_DatasetDataDetails.DSID]
GO
ALTER TABLE [dbo].[DesignDataSet]  WITH CHECK ADD  CONSTRAINT [FK_DesignDataSet.DOCID] FOREIGN KEY([DOCID])
REFERENCES [dbo].[Documents] ([DOCID])
GO
ALTER TABLE [dbo].[DesignDataSet] CHECK CONSTRAINT [FK_DesignDataSet.DOCID]
GO
ALTER TABLE [dbo].[DesignDataSet]  WITH CHECK ADD  CONSTRAINT [FK_DesignDataSet.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[DesignDataSet] CHECK CONSTRAINT [FK_DesignDataSet.FID]
GO
ALTER TABLE [dbo].[DesignDataSetDetails]  WITH CHECK ADD  CONSTRAINT [FK_DesignDataSetDetails.DDSID] FOREIGN KEY([DDSID])
REFERENCES [dbo].[DesignDataSet] ([DDSID])
GO
ALTER TABLE [dbo].[DesignDataSetDetails] CHECK CONSTRAINT [FK_DesignDataSetDetails.DDSID]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Document.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Document.FID]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees.FID]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_CreateUID] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[UserDetails] ([UID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_CreateUID]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_ModifyUID] FOREIGN KEY([LastUpdatedByUserId])
REFERENCES [dbo].[UserDetails] ([UID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_ModifyUID]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_FormStatus.FSID] FOREIGN KEY([FSID])
REFERENCES [dbo].[FormStatus] ([FSID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_FormStatus.FSID]
GO
ALTER TABLE [dbo].[List]  WITH CHECK ADD  CONSTRAINT [FK_List.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[List] CHECK CONSTRAINT [FK_List.FID]
GO
ALTER TABLE [dbo].[ListItems]  WITH CHECK ADD  CONSTRAINT [FK_ListItems.LSTID] FOREIGN KEY([LSTID])
REFERENCES [dbo].[List] ([LSTID])
GO
ALTER TABLE [dbo].[ListItems] CHECK CONSTRAINT [FK_ListItems.LSTID]
GO
ALTER TABLE [dbo].[MetaData]  WITH CHECK ADD  CONSTRAINT [FK_MetaData.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[MetaData] CHECK CONSTRAINT [FK_MetaData.FID]
GO
ALTER TABLE [dbo].[OutputDetails]  WITH CHECK ADD  CONSTRAINT [FK_OutputDetails.OUID] FOREIGN KEY([OUID])
REFERENCES [dbo].[Outputs] ([OUID])
GO
ALTER TABLE [dbo].[OutputDetails] CHECK CONSTRAINT [FK_OutputDetails.OUID]
GO
ALTER TABLE [dbo].[Outputs]  WITH CHECK ADD  CONSTRAINT [FK_Outputs.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Outputs] CHECK CONSTRAINT [FK_Outputs.FID]
GO
ALTER TABLE [dbo].[PageChildSettings]  WITH CHECK ADD  CONSTRAINT [FK_PageChildSettings.PGID] FOREIGN KEY([PGID])
REFERENCES [dbo].[Pages] ([PGID])
GO
ALTER TABLE [dbo].[PageChildSettings] CHECK CONSTRAINT [FK_PageChildSettings.PGID]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages.FID]
GO
ALTER TABLE [dbo].[ResponseQuestionData]  WITH CHECK ADD  CONSTRAINT [FK_ResponseQuestionData_ResponseQuestions] FOREIGN KEY([RspQstId])
REFERENCES [dbo].[ResponseQuestions] ([RspQstId])
GO
ALTER TABLE [dbo].[ResponseQuestionData] CHECK CONSTRAINT [FK_ResponseQuestionData_ResponseQuestions]
GO
ALTER TABLE [dbo].[ResponseQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ResponseQuestions_Responses] FOREIGN KEY([RspId])
REFERENCES [dbo].[Responses] ([RSPID])
GO
ALTER TABLE [dbo].[ResponseQuestions] CHECK CONSTRAINT [FK_ResponseQuestions_Responses]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_MetaData] FOREIGN KEY([MtdtId])
REFERENCES [dbo].[MetaData] ([MTDTID])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_MetaData]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_Userid] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([UID])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_Userid]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_UserOrgID] FOREIGN KEY([UserOrgID])
REFERENCES [dbo].[UserOrganisationDetails] ([UserOrgID])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_UserOrgID]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections.FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections.FID]
GO
ALTER TABLE [dbo].[TabChildDetails]  WITH CHECK ADD  CONSTRAINT [FK_ChildTabDetails_TABID] FOREIGN KEY([TABID])
REFERENCES [dbo].[TabDetails] ([TABID])
GO
ALTER TABLE [dbo].[TabChildDetails] CHECK CONSTRAINT [FK_ChildTabDetails_TABID]
GO
ALTER TABLE [dbo].[TabChildDetails]  WITH CHECK ADD  CONSTRAINT [FK_ChildTabsDetails.ADSTID] FOREIGN KEY([CADSTID])
REFERENCES [dbo].[ComponentAdditionalSettings] ([CADSTID])
GO
ALTER TABLE [dbo].[TabChildDetails] CHECK CONSTRAINT [FK_ChildTabsDetails.ADSTID]
GO
ALTER TABLE [dbo].[TabDetails]  WITH CHECK ADD  CONSTRAINT [FK_TabDetails_FID] FOREIGN KEY([FID])
REFERENCES [dbo].[Forms] ([FID])
GO
ALTER TABLE [dbo].[TabDetails] CHECK CONSTRAINT [FK_TabDetails_FID]
GO
ALTER TABLE [dbo].[UKPRNProvidersData]  WITH CHECK ADD FOREIGN KEY([PMID])
REFERENCES [dbo].[ProviderMapping] ([PMID])
GO
ALTER TABLE [dbo].[URNProvidersData]  WITH CHECK ADD FOREIGN KEY([PMID])
REFERENCES [dbo].[ProviderMapping] ([PMID])
GO
ALTER TABLE [dbo].[UserOrganisationDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserOrganisationDetails_ORGID] FOREIGN KEY([ORGID])
REFERENCES [dbo].[OrganisationDetails] ([ORGID])
GO
ALTER TABLE [dbo].[UserOrganisationDetails] CHECK CONSTRAINT [FK_UserOrganisationDetails_ORGID]
GO
ALTER TABLE [dbo].[UserOrganisationDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserOrganisationDetails_Userid] FOREIGN KEY([UID])
REFERENCES [dbo].[UserDetails] ([UID])
GO
ALTER TABLE [dbo].[UserOrganisationDetails] CHECK CONSTRAINT [FK_UserOrganisationDetails_Userid]
GO
/****** Object:  StoredProcedure [dbo].[DeleteFormData]    Script Date: 23/05/2024 13:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteFormData]
@id nvarchar(250)
as

declare @formid bigint

select @formid=fid from forms where FormId=@id



begin tran t1
--delete data 
begin try
--delete FROM ComponentDatasetSchemaPropertyDetails where cdsdid in (SELECT cdsdid FROM ComponentDatasetSchemaDetails where CMPID  in (SELECT CMPID FROM components where pgid in (SELECT pgid  FROM pages where fid=@formid )))
--delete FROM DatasetDataDetails  where cdsdid in (SELECT cdsdid FROM ComponentDatasetSchemaDetails where CMPID  in (SELECT CMPID FROM components where pgid in (SELECT pgid  FROM pages where fid=@formid )))
--delete FROM ComponentDatasetSchemaDetails where CMPID  in (SELECT CMPID FROM components where pgid in (SELECT pgid  FROM pages where fid=@formid ))

--delete FROM CalculationComponentDetails  where CALCID in (SELECT CALCID FROM Calculations  where fid=@formid )
--delete FROM Calculations  where fid=@formid 

--delete FROM Sections  where fid=@formid 

--delete FROM TabChildDetails  where tabid in (SELECT tabid FROM TabDetails  where fid=@formid ) 
--delete FROM TabDetails  where fid=@formid 

--delete FROM OutputDetails  where OUID in (SELECT OUID FROM Outputs  where fid=@formid )
--delete FROM Outputs  where fid=@formid 

--delete FROM Fees  where fid=@formid 
--delete FROM MetaData  where fid=@formid 

--delete FROM ConditionDetails  where CNID in (SELECT cnid FROM Conditions  where fid=@formid )
--delete FROM Conditions  where fid=@formid 

--delete FROM ComponentAdditionalSettings where CMPID in (SELECT CMPID FROM components where pgid in (SELECT pgid  FROM pages where fid=@formid ))
--delete FROM components where pgid in (SELECT pgid  FROM pages where fid=@formid )

--delete FROM DesignDataSetDetails  where DDSID in (SELECT DDSID FROM DesignDataSet  where fid=@formid )
--delete FROM DesignDataSet  where fid=@formid 
--delete FROM documents  where fid=@formid 
--delete FROM ListItems  where LSTID in (SELECT LSTID FROM list  where fid=@formid )
--delete FROM list  where fid=@formid

--delete FROM PageChildSettings where PGID in (SELECT PGID FROM pages where fid=@formid)
--delete FROM pages where fid=@formid
--delete FROM Forms where fid=@formid 

update Forms set Status= Cast(0 as bit) where FID=@formid

commit tran t1

select 'successfully deleted'

end try

begin catch
rollback tran t1
select @@ERROR 
end catch

GO
